<!-- <app-navbar></app-navbar>
<h1>angular 67</h1>
<courses></courses>
<app-authors></app-authors>
<h1>{{ title }}</h1>
<h6>{{ name }}</h6>
<app-home></app-home>
<app-ng-if-else></app-ng-if-else>
<app-ng-switch></app-ng-switch>
<h1>For Loop</h1>
<app-ng-for (childEvent)="message = $event" bind-data="data"></app-ng-for>
<h2 *ngIf="message; then thenBlock; else elseBlock"></h2>
<ng-template #thenBlock> login </ng-template>
<ng-template #elseBlock>
  {{ username?.name }}
</ng-template>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<button
  mat-raised-button
  color="primary"
  matBadge="8"
  matBadgePosition="before"
  matBadgeColor="accent"
>
  Action
</button>
<br /> -->
<!-- <app-pipes></app-pipes> -->
<h2>Dependency injection</h2>
<app-employees></app-employees>
<app-employee2></app-employee2>